.main {
  background-color: $color-white;
  width: 100%;
  padding: 0 165px;
  .form{
    width: 1110px;
    height: 168px;
    padding: 0 65px;
    background-image: url(../../assets/bg-boost-desktop.svg);
  }
}
