@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  border: 0; }

:focus {
  outline: 0; }

.clear {
  clear: both; }

body {
  overflow-x: hidden; }

body {
  font-family: 'Poppins', sans-serif; }

.btn-primary {
  padding: 14px 40px 12px 40px;
  color: #EFF1F7;
  border-radius: 28px;
  background-color: #2BD0D0;
  font-size: 20px;
  font-weight: 700; }
  .btn-primary:hover {
    background-color: #9ae3e3; }

.navbar {
  padding: 48px 165px;
  display: flex;
  align-items: center;
  position: relative; }
  .navbar .logo {
    margin-right: 45px; }
  .navbar .links-login-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar .links-login-container .links {
      display: flex; }
      .navbar .links-login-container .links .link:not(:last-child) {
        margin-right: 29px; }
      .navbar .links-login-container .links .link a {
        color: #9E9AA8;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; }
    .navbar .links-login-container .login-container {
      display: flex;
      align-items: center; }
      .navbar .links-login-container .login-container .login {
        color: #9E9AA8;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        flex-shrink: 0; }
        .navbar .links-login-container .login-container .login.active {
          background-color: #2BD0D0;
          padding: 9px 23px 8px 24px;
          color: #EFF1F7;
          border-radius: 28px; }
          .navbar .links-login-container .login-container .login.active:hover {
            background-color: #9ae3e3; }
        .navbar .links-login-container .login-container .login:not(:last-child) {
          margin-right: 37px; }
  .navbar .hamburger-btn {
    display: none;
    margin-left: auto;
    background-color: transparent; }

@media (max-width: 768px) {
  .navbar {
    padding: 48px 0; }
    .navbar .logo {
      margin-right: 24px; } }

@media (max-width: 478px) {
  .navbar {
    padding: 48px 24px; }
    .navbar .links-login-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: start;
      background-color: #3A3054;
      bottom: -360px;
      left: -1000%;
      transform: translateX(-50%);
      width: 327px;
      height: 383px;
      border-radius: 10px;
      z-index: 100;
      transition: all 0.5s; }
      .navbar .links-login-container.active {
        left: 50%; }
      .navbar .links-login-container .links {
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(158, 154, 168, 0.25);
        width: 80%; }
        .navbar .links-login-container .links .link {
          margin: 25px 0; }
          .navbar .links-login-container .links .link a {
            color: #EFF1F7;
            font-size: 18px; }
          .navbar .links-login-container .links .link:not(:last-child) {
            margin-right: 0; }
      .navbar .links-login-container .login-container {
        flex-direction: column;
        text-align: center;
        width: 80%;
        align-items: stretch; }
        .navbar .links-login-container .login-container .login {
          color: #EFF1F7; }
          .navbar .links-login-container .login-container .login:first-child {
            margin-top: 32px; }
          .navbar .links-login-container .login-container .login:not(:last-child) {
            margin-right: 0;
            margin-bottom: 24px; }
    .navbar .hamburger-btn {
      display: block; } }

.header {
  width: 100%;
  margin-top: 86px;
  height: 480px;
  background-image: url(./assets/illustration-working.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 60px; }
  .header .content {
    padding-left: 165px; }
    .header .content h1 {
      font-size: 80px;
      color: #34313D;
      font-weight: 700;
      width: 565px;
      letter-spacing: -2px;
      line-height: 90px;
      margin-bottom: 5px; }
    .header .content p {
      width: 540px;
      font-size: 22px;
      font-weight: 500;
      line-height: 36px;
      color: #9E9AA8;
      letter-spacing: .15px;
      margin-bottom: 52px; }

@media (max-width: 768px) {
  .header {
    height: 960px;
    background-position: top;
    display: flex;
    margin-top: 40px; }
    .header .content {
      margin-top: auto;
      padding-left: 0;
      padding-bottom: 40px;
      text-align: center; }
      .header .content h1 {
        width: 100%; }
      .header .content p {
        width: 100%; } }

@media (max-width: 478px) {
  .header {
    height: 800px;
    margin-top: 0; }
    .header .content h1 {
      font-size: 42px;
      letter-spacing: -1.05px;
      line-height: 48px;
      text-align: center;
      margin-bottom: 15px; }
    .header .content p {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: .123px;
      text-align: center;
      margin-bottom: 32px; } }

.main {
  background-color: #EFF1F7;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px; }
  .main .form {
    padding: 0 165px;
    width: 80%;
    height: 168px;
    margin-top: -84px;
    background-image: url(./assets/bg-boost-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3a3054;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main .form .form-control {
      display: flex;
      width: 80%; }
      .main .form .form-control input {
        width: calc(100% - 64px);
        padding: 0 32px;
        height: 64px;
        border-radius: 10px; }
      .main .form .form-control .btn-primary {
        border-radius: 10px;
        margin-left: 24px; }
  .main .api-links {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
    padding: 0 165px; }
    .main .api-links .api-link {
      background-color: white;
      display: flex;
      align-items: center;
      padding: 18px 32px;
      border-radius: 5px;
      width: calc(100% - 64px); }
      .main .api-links .api-link p {
        color: #34313D;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.15px; }
      .main .api-links .api-link .right-side {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 24px; }
        .main .api-links .api-link .right-side .link {
          color: #2BD0D0;
          text-align: right;
          font-size: 20px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: 0.15px; }
        .main .api-links .api-link .right-side .btn-primary {
          border-radius: 5px;
          transition: all .3s;
          width: 103px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .main .api-links .api-link .right-side .btn-primary.clicked {
            background-color: #3A3054; }
  .main .content {
    padding: 0 165px;
    margin-top: 60px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px; }
    .main .content h3 {
      color: #34313D;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -1px; }
    .main .content p {
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0.123px;
      width: 540px;
      text-align: center;
      color: #9E9AA8; }
  .main .box-container {
    padding: 0 165px;
    display: flex;
    width: 80%;
    gap: 30px;
    margin-top: 6rem;
    position: relative;
    margin-bottom: 120px; }
    .main .box-container::after {
      content: "";
      position: absolute;
      top: 40%;
      left: 165px;
      width: 60%;
      height: 6px;
      background-color: #2BD0D0; }
    .main .box-container .box {
      flex: 1;
      max-height: 267px;
      position: relative;
      z-index: 1;
      background-color: #fff; }
      .main .box-container .box:nth-child(2) {
        margin-top: 44px; }
      .main .box-container .box:nth-child(3) {
        margin-top: 88px; }
      .main .box-container .box .logo-container {
        width: 88px;
        height: 88px;
        background-color: #3A3054;
        border-radius: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -44px;
        left: 32px; }
      .main .box-container .box .content {
        padding: 0 32px; }
        .main .box-container .box .content .title {
          color: #34313D;
          font-size: 22px;
          font-weight: 700;
          line-height: normal;
          width: 100%;
          margin-top: 10px; }
        .main .box-container .box .content .text {
          color: #9E9AA8;
          font-size: 15px;
          font-weight: 500;
          line-height: 26px;
          width: 100%;
          text-align: start;
          margin-bottom: 1rem; }
  .main .subfooter {
    width: 100%;
    height: 250px;
    background-image: url(./assets/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3A3054;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px; }
    .main .subfooter h4 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -1px; }

@media (max-width: 768px) {
  .main .form {
    padding: 0 20px;
    width: calc(100% - 50px); }
    .main .form .form-control {
      display: flex; }
      .main .form .form-control input {
        width: calc(500px - 64px); }
      .main .form .form-control .btn-primary {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 20px; }
  .main .api-links {
    padding: 0;
    margin-top: 48px;
    align-items: center; }
    .main .api-links .api-link {
      width: calc(90% - 64px); }
      .main .api-links .api-link p {
        font-size: 14px; }
      .main .api-links .api-link .right-side {
        gap: 12px; }
        .main .api-links .api-link .right-side .link {
          font-size: 14px; }
        .main .api-links .api-link .right-side .btn-primary {
          width: 92px; }
  .main .content {
    margin-top: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px; }
    .main .content h3 {
      color: #34313D;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -1px;
      margin-bottom: 18px; }
    .main .content p {
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0.123px;
      width: 540px;
      text-align: center;
      color: #9E9AA8; }
  .main .box-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0; }
    .main .box-container::after {
      top: 0;
      left: 500px;
      width: 6px;
      height: 80%;
      background-color: #2BD0D0; }
    .main .box-container .box {
      width: 80%;
      height: 450px; } }

@media (max-width: 478px) {
  .main {
    padding: 0; }
    .main .form {
      width: 100%;
      padding: 24px 0; }
      .main .form .form-control {
        flex-direction: column;
        gap: 16px; }
        .main .form .form-control input {
          width: calc(100% - 64px); }
        .main .form .form-control .btn-primary {
          margin-left: 0;
          width: 100%; }
    .main .api-links .api-link {
      flex-direction: column; }
      .main .api-links .api-link p {
        font-size: 16px;
        letter-spacing: .12px;
        border-bottom: 1px solid rgba(158, 154, 168, 0.25); }
      .main .api-links .api-link .right-side {
        margin-top: 5px;
        flex-direction: column;
        margin-left: 0;
        width: 100%; }
        .main .api-links .api-link .right-side .link {
          border: 0;
          width: 100%;
          text-align: start; }
        .main .api-links .api-link .right-side .btn-primary {
          width: 100%; }
    .main .content {
      gap: 4px; }
      .main .content h3 {
        text-align: center;
        font-size: 28px; }
      .main .content p {
        width: 327px;
        font-size: 16px; }
    .main .box-container::after {
      left: 50%;
      transform: translateX(-50%); }
    .main .box-container .box {
      width: 90%;
      margin-bottom: 60px; }
      .main .box-container .box:nth-child(2) {
        margin-top: 0; }
      .main .box-container .box:nth-child(3) {
        margin-top: 0; }
      .main .box-container .box .logo-container {
        left: 50%;
        transform: translateX(-50%); }
      .main .box-container .box .content {
        padding: 0;
        width: 100%; }
        .main .box-container .box .content .title {
          text-align: center; }
        .main .box-container .box .content .text {
          text-align: center;
          width: 263px;
          color: #9e9aa8;
          margin-bottom: 20px;
          text-align: center;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px;
          /* 173.333% */ }
    .main .subfooter h4 {
      font-size: 28px; } }

.footer {
  background-color: #232127;
  display: flex;
  align-items: flex-start;
  width: 100%; }
  .footer .footer-content {
    padding: 71px 165px;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    .footer .footer-content .logo {
      margin-right: 200px; }
    .footer .footer-content .footer-nav {
      display: flex;
      gap: 70px;
      margin-right: 100px; }
      .footer .footer-content .footer-nav .column h3 {
        margin-bottom: 22px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px; }
      .footer .footer-content .footer-nav .column ul li {
        color: #bfbfbf;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.234px;
        margin-bottom: 10px;
        cursor: pointer; }
        .footer .footer-content .footer-nav .column ul li:hover {
          color: #2BD0D0; }
    .footer .footer-content .footer-social-links ul {
      display: flex;
      gap: 25px; }
      .footer .footer-content .footer-social-links ul li {
        cursor: pointer; }
        .footer .footer-content .footer-social-links ul li:hover svg path {
          fill: #2BD0D0; }

@media (max-width: 768px) {
  .footer .footer-content {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%; }
    .footer .footer-content .logo {
      margin-right: 0;
      margin-bottom: 40px; }
    .footer .footer-content .footer-nav {
      gap: 40px;
      margin-right: 0; }
    .footer .footer-content .footer-social-links {
      margin-top: 20px;
      margin-bottom: 20px; } }

@media (max-width: 478px) {
  .footer .logo {
    margin-top: 54px; }
  .footer .footer-nav {
    flex-direction: column;
    margin-bottom: 30px; }
    .footer .footer-nav .column h3 {
      text-align: center; }
    .footer .footer-nav .column ul li {
      text-align: center; } }
